# MkDocs documentation dependencies
mkdocs>=1.5.0
mkdocs-material>=9.4.0
mkdocstrings[python]>=0.23.0
mkdocs-gen-files>=0.5.0
mkdocs-literate-nav>=0.6.0
mkdocs-section-index>=0.3.0
mkdocs-autorefs>=0.5.0
mike>=1.1.0

# Additional plugins
pymdown-extensions>=10.0.0
mkdocs-awesome-pages-plugin>=2.9.0
mkdocs-glightbox>=0.3.4
mkdocs-git-revision-date-localized-plugin>=1.2.0
mkdocs-minify-plugin>=0.7.1